<% include partials/head %>

<h1>
	Unfacebookify <small>- add a new group</small>
</h1>

<% if (error) { %>
	<p class="alert alert-danger">
		<%= error %>
	</p>
<% } %>

<% if (!authenticated) { %>
	<p class="lead">Login with your Facebook account, choose a group to unfacebookify and a new page with your group's posts will be created!</p>

	<form action="/auth" method="get" class="form-horizontal">
		<div id="custom-app" class="collapse out">
			<p>Due to Facebook limitations, if you're not the owner of this Unfacebookify installation you'll have to use your own Facebook app. Please <a href="https://github.com/emersion/unfacebookify/wiki/Use-a-custom-Facebook-app" target="_blank">read this guide</a> if you don't know how to do this.</p>

			<div class="form-group">
				<label for="client_id" class="col-sm-2 control-label">App ID</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="client_id" name="client_id" placeholder="App ID">
				</div>
			</div>

			<div class="form-group">
				<label for="client_secret" class="col-sm-2 control-label">App secret</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="client_secret" name="client_secret" placeholder="App secret">
				</div>
			</div>
		</div>

		<p class="text-center">
			<button type="submit" class="btn btn-primary btn-lg">Login with Facebook</button><br>
			<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#custom-app">
				Use a custom Facebook app
			</button>
		</p>
	</form>
<% } else { %>
	<form action="" method="post" class="form-horizontal">
		<input type="hidden" name="access_token" value="<%= access_token %>">
		<input type="hidden" name="client_id" value="<%= client_id %>">
		<input type="hidden" name="client_secret" value="<%= client_secret %>">

		<div class="form-group">
			<label for="id" class="col-sm-2 control-label">Group</label>
			<div class="col-sm-10">
				<select name="id" id="id" class="form-control">
				<%
				groups.forEach(function (group) {
					%>
					<option value="<%= group.id %>"><%= group.name %></option>
					<%
				});
				%>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="name" name="name" placeholder="A unique identifier for your group" pattern="^[a-zA-Z0-9-_]+$" required>
				<span class="help-block">This will appear in the group's URL.</span>
			</div>
		</div>

		<div class="form-group">
			<label for="title" class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="title" name="title" placeholder="Your group's title">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" value="Unfacebookify!" class="btn btn-primary">
			</div>
		</div>
	</form>
<% } %>

<% include partials/foot %>